<% provide(:title, 'About us') %>
<h1>About us</h1>

<p>Это пробная статическая страница создаена для прохождения теста</p>
<a href="https://powerful-beyond-2031.herokuapp.com/static_pages/about">Ссылка на страницу в Хероку</a>
